/// COLORS ///

$color-dark-violet: #2d2640;
$color-grayish-blue: #95a9c6;

$color-very-dark-violet: #2b272f;
$color-dark-grayish-violet: #837d87;
$color-very-light-gray: #fafafa;

$bp-mobile: 23.45em; //0-375px
$bp-phone: 37.5em; //375-600px
$bp-tablet-portrait: 56.25em; //600-900px
$bp-tablet-landscape: 75em; //900-1200px
$bp-desktop: 112.5em; //1200-1800px